<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :if %><br />
    <%= f.text_field :if %>
  </div>
  <div class="field">
    <%= f.label :then %><br />
    <%= f.text_field :then %>
  </div>
  <div class="">
    <%= f.label "Date" %><br />
    <%= f.text_field :task_date %>
    <%= f.label "Time" %><br />
    <%= f.text_field :task_time, :class => "hasTimepicker" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
